---
import DrinkSection from "../components/drinks/DrinkSection.astro";
import TabButtonsWrapper from "../components/buttons/TabButtonsWrapper.astro";
import MainLayout from "../layouts/MainLayout.astro";
import type { DrinkSectionItem } from "../types/drinks/drinkSection";
import type { TabButtonsWrapperItem } from "../types/buttons/tabButtonsWrapperItem";
import "../styles/pages/Drinks.less";

const tabButtonsWrapper: TabButtonsWrapperItem = {
  title: "Bebidas",
  tabButtons: [
    {
      id: "refreshments",
      title: "Refrescos",
    },
    {
      id: "beers",
      title: "Cervezas",
    },
    {
      id: "cocktails",
      title: "Cócteles",
    },
    {
      id: "Coffees",
      title: "Cafés",
    },
  ],
};

const refreshments: DrinkSectionItem = {
  id: "refreshments",
  tittle: "Refrescos",
  drinks: [
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
    {
      title: "Fanta de Naranja",
      price: "2.20",
    },
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
    {
      title: "Fanta de Naranja",
      price: "2.20",
    },
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
    {
      title: "Fanta de Naranja",
      price: "2.20",
    },
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
    {
      title: "Fanta de Naranja",
      price: "2.20",
    },
  ],
};

const beers: DrinkSectionItem = {
  id: "beers",
  tittle: "Cervezas",
  drinks: [
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
    {
      title: "Fanta de Naranja",
      price: "2.20",
    },
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
    {
      title: "Fanta de Naranja",
      price: "2.20",
    },
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
  ],
};

const cocktails: DrinkSectionItem = {
  id: "cocktails",
  tittle: "Cócteles",
  drinks: [
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
    {
      title: "Fanta de Naranja",
      price: "2.20",
    },
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
    {
      title: "Fanta de Naranja",
      price: "2.20",
    },
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
  ],
};

const Coffees: DrinkSectionItem = {
  id: "Coffees",
  tittle: "Cafés",
  drinks: [
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
    {
      title: "Fanta de Naranja",
      price: "2.20",
    },
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
    {
      title: "Fanta de Naranja",
      price: "2.20",
    },
    {
      title: "Coca-Cola 25cl",
      description: "Compuesto de cosas con mucho azúcar y mucho gas",
      price: "2.20",
    },
  ],
};
---

<MainLayout pageTittle="Bebidas">
  <section
    class="drinks-main-section flex justify-content"
    style="--justify: center"
  >
    <div
      class="drinks-wrapper flex flex-direction justify-content"
      style="--direction: column; --justify: center"
    >
      <TabButtonsWrapper tabButtonsWrapper={tabButtonsWrapper} />
      <div
        class="drinks-section-container blur-background flex flex-direction"
        style="--direction:column"
      >
        <div
          class="drinks-section flex flex-direction"
          style="--direction: column"
        >
          <DrinkSection drinkSection={refreshments} />
          <DrinkSection drinkSection={beers} />
          <DrinkSection drinkSection={cocktails} />
          <DrinkSection drinkSection={Coffees} />
        </div>
      </div>
    </div>
  </section>
</MainLayout>
