---
import Allergens from "../components/Allergens.astro";
import FoodCard from "../components/FoodCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Food.less";
import { MenuNodeItem } from "../types/menuNodeItem";

import sandwich from "/sandwich.jpg";

const subMenu: MenuNodeItem[] = [
	{
		url: "/food/#rations",
		name: "Raciones",
	},
	{
		url: "/food/#sandwiches",
		name: "Sandwiches",
	},
	{
		url: "/food/#",
		name: "Montados",
	},
	{
		url: "/food/#rations",
		name: "Tostas",
	},
];
---

<MainLayout pageTittle="Menú" subMenu={subMenu}>
	<section class="main-section height" style="--height: 100vh"></section>
	<div class="flex justify-content" style="--justify: center">
		<div
			class="width flex flex-direction gap"
			style="--width: 70%; --direction: column; --gap: 10px"
		>
			<section
				id="rations"
				class="flex flex-wrap gap"
				style="--gap: 10px"
			>
				<div
					class="flex justify-content align-items width"
					style="--justify: center; --align: center; --width: 120px"
				>
					<h2 class="food-section-tittle">Raciones</h2>
				</div>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					allergens={["celery", "dairy"]}
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
			</section>
			<section
				id="sandwiches"
				class="flex flex-wrap gap"
				style="--gap: 10px"
			>
				<div
					class="flex justify-content align-items width"
					style="--justify: center; --align: center; --width: 120px"
				>
					<h2 class="food-section-tittle">Sandwiches</h2>
				</div>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background={sandwich}
				/>
			</section>
			<section>
				<Allergens
					allergens={[
						"celery",
						"curstaceans",
						"dairy",
						"dioxide",
						"egg",
						"fish",
						"gluten",
						"lupins",
						"molluks",
						"mustard",
						"peanuts",
						"peelFruits",
						"sesame",
						"soy",
					]}
				/>
			</section>
		</div>
	</div>
</MainLayout>
